<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="navbar">
      <%= link_to root_path do %>
  			<h1>Members-Only</h1>
  		<% end %>

      <% if user_signed_in? %>
        <%= link_to current_user.username, edit_user_registration_path  %>
        <!-- Using link_to for Sign out doesn't work. https://stackoverflow.com/questions/9590598/devise-rails-no-route-matches-get-users-sign-out -->
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", user_session_path  %>
        <%= link_to "Sign up", new_user_registration_path  %>
      <% end %>

      
    </div>
    
    <%= yield %>
  </body>
</html>
